:root {
    --color-blue:#1a79cb;
    --color-blue-light:#5fa1db; 
    --color-blue-lighter: #a3c9ea;
    --color-blue-darker:#12558e;
    --color-blue-lightest: #e8f2fa;
    --color-neutral-0:#ffffff;
    --color-green-lightest:#ECF7EA;
    --color-neutral-3:#DCDCDC;
    --color-neutral-2:#EFEFEF;
    --color-neutral-1: #F7F8F8;
}

* {
    transition: all 0.3 linear;
}

.header-cv {
    /* height: 20vh; */
    background: linear-gradient(90deg, var(--color-blue), var(--color-blue-light));
    color: var(--color-neutral-0);
}

.icon-header-size {
    font-size: 48px;
}

.color-primary {
    color: var(--color-blue-darker);
}

.bg-primary-lighter {
    background-color: var(--color-blue-lighter);
}

.bg-primary-lightest {
    background-color: var(--color-blue-lightest);
}

.bg-green-lightest {
    background-color: var(--color-green-lightest);
}

.info-act {
    font-size: 10px;
}

.hover-neutral-3:hover {
    background-color: var(--color-neutral-3);
}

.hover-neutral-2:hover {
    background-color: var(--color-neutral-2);
}

.hover-neutral-1:hover {
    background-color: var(--color-neutral-1);
    border: 1px solid var(--color-neutral-2);
}


.timeline {
  border-left: 2px solid rgba(0, 0, 0, .1);
  padding-left: 1.2rem;
  position: relative;
}

.timeline .item {
  position: relative;
  margin-bottom: 1.5rem;
}

.timeline .item::before {
  content: "";
  position: absolute;
  left: -24px;
  top: .5rem;
  width: 10px;
  height: 10px;
  background: var(--cv-accent, #0d6efd);
  border-radius: 50%;
}

.timeline .item.active::before {
  background: var(--color-blue-light); /* azul KPMG */
}